
<!-- login.component.html -->
<div class="login-card">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-button" type="submit">Log In</button>
  </form>
</div>



