.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //background: url('assets/images/DALL·E 2024-05-01 20.38.04 - Create a square aspect ratio image suitable for a login screen background. The image should be an abstract, subtle civic-themed design that can induce.webp') no-repeat center center fixed;
  background: #cccccc;
  background-size: cover;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.links a {
  display: block;
  color: #0066cc;
  text-align: center;
  margin-top: 10px;
}

.forgot-password,
.register {
  color: #0066cc;
}

/* login.component.scss */
.login-card {
  background-color: #fff; // white background
  border-radius: 8px; // rounded corners
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // subtle shadow for depth
  padding: 20px; // internal spacing
  max-width: 400px; // maximum width of the card
  width: 100%; // ensures it takes up necessary space
  box-sizing: border-box; // includes padding in width calculation
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 20px; // space between input fields
}

.login-button {
  margin-top: 10px; // space above the login button
}
