
<app-admin-dashboard></app-admin-dashboard>
<app-elector-dashboard></app-elector-dashboard>
<app-polls-management></app-polls-management>
<app-candidate-information></app-candidate-information>



<div class="app-container">
<router-outlet></router-outlet>
<!--<app-form-builder></app-form-builder>-->
<!--&lt;!&ndash;<app-form-detail></app-form-detail>&ndash;&gt;-->
<!--&lt;!&ndash;<app-form-submission></app-form-submission>&ndash;&gt;-->
<!--&lt;!&ndash;<app-form-submission></app-form-submission>&ndash;&gt;-->
<!--<app-response-detail></app-response-detail>-->
<!--  <app-login></app-login>-->


</div>

